body {
    font-family: 'Roboto', sans-serif;
}

.callout-bg {
    background: url("/media/bg.jpg");
    background-position: -30% 60%;
    background-repeat: no-repeat;
    background-color: #0d0b10;
}

.container-fluid {
    padding: 3vh;
    min-height: 35vh;
}

.jumbotron {
    background-color: transparent;
}

.text-stroke {
    color: #fff;
    -webkit-text-stroke: 1px #000;
    font-weight: bold;
}

.divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #000000;
}

.divider-alt {
    background-color: #fff;
}

div#map {
    min-height: 70vh;
    border-radius: 25px;
}